.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.product{
    padding: 10px;
    gap: 8px;
    border: 1px solid black;
}

.product img{
    width: 200px;
    height: 200px;
}